/* body {
    margin-bottom: 60px; 
  } */

  body{
    background: whitesmoke;
    overflow-x: hidden;
  }
  #home .nav-link{
    color: white;
    text-align: end;
  }
  #home .nav-link:hover{
    color: rgb(255,153,0);
  }

  #home .nav-item{
    justify-content: end;
  }

  #search{
    background-color: rgb(255,153,0);
  }
  #search:hover{
    background-color: #e47911;
  }
  #mynavbar{
    align-items: end;
  }
  .pb{
    text-align: center;
  }
  .pro img{
   
    height:200px;
    width: 100%;
  }
  .pro button{
    margin: auto;
  }
  .pro .card:hover{
    background-color: gray;
    color: whitesmoke;
    cursor: pointer;
  }
    #about{
    padding: 10px;
    text-align: justify;
  }

  .carousel-inner img{
    width: 100%;
    height: 50vh;
  }

  #contact{
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;

  }
  

    #contact:hover{
    background-color: lightgray;
    color: black;

  }

#contact input:hover{
    border: 1px solid rgb(255,153,0) ;
  }

  #contact textarea:hover{
    border: 1px solid rgb(255,153,0) ;
  }




.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    color: #000;
}

#footer-logo {
   
    margin-top: 35px;
    margin-left: 80px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: #0066c0; /* Amazon's blue color */
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-small {
    font-size: 14px;
}
